<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin', 'productos']" routerLinkActive="active">Productos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin', 'galeria']" routerLinkActive="active">Galería</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin', 'nuevo']" routerLinkActive="active">Nuevo producto</a>
    </li>
</ul>

<div class="container">
    <router-outlet></router-outlet>
</div>