<app-carousel [carouselData]="carouselData"></app-carousel>
<h5 class="text-center gray">
    {{titleflipbook}}
</h5>

<hr>
<div class="container-fluid border">
    <app-flip-book *ngIf="paginationService.data" [productsData]="paginationService.data"></app-flip-book>

    <!-- Pagination -->
    <app-pagination [hidden]="!paginationService.data" [collectionName]="collectionName" [noElements]="noElements" [orderBy]="orderBy"></app-pagination>
</div>

<div class="container">
    <app-maps></app-maps>
</div>