.bg-vino {
    background-color: rgb(97, 5, 36);
}

.card-title {
    color: rgb(74, 148, 168);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
    color: black;
    background-color: white;
    opacity: .5;
}