<div *ngIf="product" class="container mt-4 mb-4">
    <h4 class="mt-3 text-center">{{product[0].title}}</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <img [src]="product[0].image" class="card-img-top img-fluid" [alt]="product[0].title">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{product[0].title}}</h5>
                    <p class="card-text">{{product[0].price | currency}}</p>
                    <p class="card-text"><small class="text-muted">{{product[0].description}}</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Especificaciones</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Medidas</h6>
                    <p class="card-text">{{product[0].size}}</p>
                    <h6 class="card-subtitle mb-2 text-muted">FLORES PRINCIPALES</h6>
                    <ul>
                        <li *ngFor="let item of product[0].maincomponents">
                            {{item}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>